* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
  padding: 5px 0;
  background-color: #148F77;
  text-align: left;
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding: 15px 0;
    color: #148F77;
    
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #148F77;
    color: #fff;
}
.active {
    background-color: #148F77;
    color: #fff;
}

.banner {
    height: 400px;
    background-image: url(banner.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 143, 119, .6 );
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
    text-align: center;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: #148F77;
    margin-bottom: 25px;
}
.about,
.h1 {
    text-align: center;
    padding: 50px;
    color:#148F77;
    margin-top: 2px;
}

.about,
.service {
    padding-bottom: 100px ;
}

.about p  {
    color: #666;
    word-spacing: 3px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: left;
}
.service {
    background-color: #f9f9f9;
}
.box::after {
    content: '';
    display: block;
    clear: both;
}
.box {
    color: #148F77;
}
.box .col-4 {
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
}
.box .col-4 h4 {
    margin: 20px 0;
}
footer {
    padding: 30px 0;
    background-color: rgb(66, 66, 66);
    color: #fff;
    text-align: center;
}

.label {
    background-color: #148F77;
    color: #fff;
}

@media screen and (max-width: 768px){
    .container {
        width: 90%;
    }
    header h2 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
    .box .col-4 {
        width: 100px;
        float: none;
        margin-bottom: 20px;
    }
}